<!--헤더 실행 후 본문 실행됨, 헤더는 용량이 안 큰 CSS-->
<!--용량 큰 JS는 body에-->

<!--JS파일-->
<!--부트스트랩은 제이쿼리가 먼저 있어야 함-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/index.js"></script>
</body>
</html>